<style>
    .ng-dirty.ng-invalid {
        border-color: #FA787E;
    }

    .ng-dirty.ng-valid {
        border-color: #78FA89;
    }

</style>
<div ng-if="!pokemonLoaded">
    <span class="glyphicon glyphicon-refresh"></span>
    Loading...
</div>

<div ng-if="pokemonLoaded">
  <div class="alert alert-success" role="alert" ng-if="creationSuccess">Привет, покемон {{newPokemonId}}!</div>

  <form name="pokemonForm" novalidate>
      <div class="form-group">
          <label>Имя</label>
          <input class="form-control" ng-model="pokemon.name" type="text" placeholder="Имя" required>
      </div>
      <div class="form-group">
          <label>Вес</label>
          <input class="form-control" ng-model="pokemon.weight" type="number" placeholder="Вес">
      </div>
      <div class="form-group">
          <label>Рост</label>
          <input class="form-control" ng-model="pokemon.height" type="number" placeholder="Рост">
      </div>
      <div class="checkbox">
          <label>
              <input type="checkbox">
              Активен
          </label>
      </div>
      <button type="submit" class="btn btn-default" ng-click="editPokemon(pokemon)" ng-disabled="pokemonForm.$invalid">Сохранить</button>
  </form>
</div>
