<div class="row">
    <div class="col-md-8">
        <div ng-if="!pokemonListLoaded">
            <span class="glyphicon glyphicon-refresh"></span>
            Loading...
        </div>
        <div class="list-group" ng-if="pokemonListLoaded">
            <a href="#!/pokemons/{{singlePokemon.objectId }}" class="list-group-item" ng-repeat="singlePokemon in pokemons">

                <h4>
                    {{singlePokemon.name | uppercase }}
                </h4>

            </a>
        </div>

    </div>
    <div class="col-md-4">

        <div ng-if="!berryListLoaded">
            <span class="glyphicon glyphicon-refresh"></span>
            Loading...
        </div>
        <div class="list-group" ng-if="berryListLoaded">
            <div class="list-group-item" ng-repeat="singleBerry in berries">

                <h4>
                    {{singleBerry.name | uppercase }}
                </h4>

            </a>
        </div>

    </div>
</div>
